source https://www.nuget.org/api/v2
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.AspNet.WebApi.SelfHost
nuget Microsoft.Owin.Testing
nuget Newtonsoft.Json
nuget NFluent
nuget SpecFlow
nuget Specflow.NCrunch
nuget SpecFlow.xUnit
nuget Swashbuckle
nuget Swashbuckle.Core.Net45
nuget xunit
nuget xunit.runner.visualstudio